*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.principal{
    background-image: url("../imgs/banner_oficial.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#topo_cabecalho{
    padding: 8px 0;
    
}

/* .container{
    max-width: 1200px;
    margin: 0 auto;
} */

#topo_cabecalho .container{
    display: flex;
    justify-content: right;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: nowrap;
}

.grid_nav{
    
    grid-template-columns: 1fr 17fr;
    display: grid;
    justify-content: space-between;
    justify-items: end;
    margin: auto;
}

.logo_container {
    width: 80px;
    display: flex;
    justify-content: left;
}

.logo_container img {
    width: 100%;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 35px;
    /* margin-left: 300px; */
    font-weight: 400;
    font-style: normal;
    /* flex-wrap: nowrap; */
} 

#navbar ul{
    list-style: none;
    /* margin-right: 5%; */
}

#navbar li{
    padding: 0 25px;
    font-size: 16px;
    color: #000;
}

#navbar li a{
    text-decoration: none;
    color: #928891;
}


/* HEADER */


html,body{
    height: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(90deg, rgba(1,1,88,0.82),rgb(1,1,29)); */
    transition: 1s all ease-in-out;
}
#init{
    margin-top: 2rem;
    background: indianred;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
}
.desc p{
    color: rgb(133,153,168);
    margin: 0;
    font-weight: 600;
}
.text{
    font-size: 65px;
    font-weight: 800;
    color: cadetblue;
    margin: 0;
}
.parent{
    position: relative;
    height: 100%;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bot-img{
    width: 20rem;
    height: 20rem;
}
.child{
    box-shadow: 0 0 2px salmon;
    border-radius: 15px;
    height: 30rem;
    width: 16rem;
    margin: auto;
    background: white;
}
.header img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 0.5rem;
    border: 1px solid rgb(231,231,231);
    padding: 5px;
}
.header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background: white;
    width: 16rem;
    padding: 5px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 2px rgb(175,175,175);
}
.h-child{
    display: flex;
    align-items: center;
}
.header span{
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.refBtn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: indianred;
    font-size: 18px;
    cursor: pointer;
}
.name{
    font-weight: 600;
}

/* CHATBOT */
.footer_chat{
    position: absolute;
    bottom: 0;
    width: 16rem;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: indianred;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 3px rgb(153,153,153);
}

#chat-box{
    position: relative;
    top: 40px;
    padding: 8px 10px;
    font-size: 12px;
    height: 24.2rem;
    overflow: auto;
    background: rgb(224,241,253);
    text-align: center;
}

/* these classes will be used in javascript file */
.msg{
    background: white;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 14px;
    color: lightslategrey;
    box-shadow: 0 0 5px rgb(226,226,226);
    max-width: 65%;
    text-align: left;
}
.test{
    text-align: right;
    margin: 20px 0;
}
.rep{
    background: rgb(253,243,224);
    color: lightslategray;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 14px;
    box-shadow: 0 0 5px rgb(211,211,211);
}
.opt{
    padding: 5px 20px;
    columns: lightsalmon;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background: white;
    text-align: center;
    font-size: 14px;
    color: blueviolet;
}
.link{
    text-decoration: none;
    display: block;
    text-align: center;
    color: aliceblue !important;
    background: blueviolet;
}
.m-link{
    text-decoration: none;
}
.link:active{
    background: white;
    border: 1px solid blueviolet;
    color: blueviolet;
}
/* CHATBOT */


/* FOOTER */

.footer{
    background-color: #9E2896;
    position: fixed;
    width: 100%;
    font-size: 20px;
    color: white;
    /* padding: auto; */
    margin: auto;
}

.container-grid_footer {
    grid-template-columns: 1fr 7fr;
    display: grid;
    column-gap: 16px;
    /* margin-top: 25px; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-grid_footer .container #navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 5%;
}

.container-grid_footer #navbar a{
    color: white;
}

.container-grid_footer .logo_Bosch img{
    width: 100%;
}

/* FOOTER */


